.custom-toast-blue {
    background-color: #3498db;
    color: white;
  }

  .custom-toast-green {
    background-color: #27ae60;
    color: white;
  }

  .custom-toast-orange {
    background-color: #e67e22;
    color: white;
  }