.duplicate-id {
    color: red;
}
.ic{
font-size: 20px;
text-align: center;
}

.ax{
margin: 7px;
}
/* .dropdown {
display: none;
position: absolute;
background-color: #fff;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
z-index: 1;
border-radius: 5px;
padding: 2px;
margin-top: 10px;
left: 50%;
}
.dropdown span{
margin: 7px;
} */

/* input */
.card table tbody tr td input, .card table tbody tr td select{
background-color: transparent;
border: none;
width: 100%;
}
.card .card-body {
max-height: 350px;
overflow-y: auto;
}

.card-body tbody tr th{
  width: 30%;
}

.custom-modal-header {
background-color: var(--light-hed);
color: white;
padding: 10px;
}
.custom-modal-footer {
background-color: #f8f9fa;
padding: 10px;
}
@media (min-width: 768px) {
.table-container {
max-height: 600px;
font-size: 12px;
}
}

@media (min-width: 1024px) {
.table-container {
max-height: 780px;
font-size: 14px;
}
}
.container1{
padding: 30px 0;
background-color: none;
}
.container1 .btn-kelas{
margin-left: 30px;
}
.upload-container {
  text-align: center;
  /* margin: 20px; */
}

.upload-container img {
max-width: 100%;
height: auto;
border: 2px solid #ccc;
border-radius: 10px;
}
.upload-button {
background-color: var(--light-hed);
color: white;
border: none;
padding: 8px 16px;
border-radius: 5px;
cursor: pointer;
margin-top: 3px;
font-size: 12px;
height: 35px;
}

.upload-button:hover {
background-color: var(--hed);
}

.user-input{
  display: flex;
  flex-direction: row;
  align-items: left;
  text-align: left;
}

.user-input {
  white-space: nowrap;
}

.dynamic-input {
  display: inline-block;
}

.kolom-hidden{
  display: none;
}
.scroll-bawah {
  margin-top: 10px;
}
