/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');


:root {
    --light: #f6f6f9;
    --primary: #1976D2;
    --light-primary: #CFE8FF;
    --grey: #eee;
    --dark-grey: #AAAAAA;
    --dark: #363949;
    --danger: #D32F2F;
    --light-danger: #FECDD3;
    --warning: #FBC02D;
    --light-warning: #FFF2C6;
    --success: #388E3C;
    --light-success: #BBF7D0;
    --light-hed: #1da04b;
    --hed: #1a6735;
    --bx: #e31e5d;
  }

.jx{
    font-size: 1.7rem;
}
.bx{
    font-size: 1.7rem;
} */

/* .insights{
    margin-top: 20px;
    margin-right: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 20px;
} */

/* .insights li{
    padding: 24px;
    background: var(--light);
    border-radius: 20px;
    display: flex;
    align-items: center;
    grid-gap: 20px;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
} */
/* 
.insights li .jx{
    width: 80px;
    height: 80px;
    border-radius: 10px;
    font-size: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.insights li .jx:hover{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.insights li:nth-child(1) .jx{
    background: var(--light-warning);
    color: var(--warning);
}

.insights li:nth-child(2) .jx{
    background: var(--light-primary);
    color: var(--primary);
}

.insights li:nth-child(3) .jx{
    background: var(--light-success);
    color: var(--success);
}

.insights li:nth-child(4) .jx{
    background: var(--light-hed);
    color: var(--hed);
}

.insights li .info h3{
    font-size: 24px;
    font-weight: 600;
    color: var(--dark);
}

.insights li .info p{
    color: var(--dark);
} */

/* .bottom-data{
    display: flex;
    flex-wrap: wrap;
    grid-gap: 24px;
    margin: 24px 30px;
    width: 100%;
    color: var(--dark);
} */

/* .bottom-data>div{
    border-radius: 20px;
    background: var(--light);
    padding: 24px;
    overflow-x: auto;
} */

/* .bottom-data .header{
    display: flex;
    align-items: center;
    grid-gap: 16px;
    margin-bottom: 2px;
} */

/* .bottom-data .header h3{
    margin-right: auto;
    font-size: 24px;
    font-weight: 600;
}

.bottom-data .header .jx{
    cursor: pointer;
}

.bottom-data .orders{
    flex-grow: 1;
    flex-basis: 400px;
}

.bottom-data .orders table{
    width: 100%;
    border-collapse: collapse;
}

.bottom-data .orders table th{
    padding-bottom: 12px;
    font-size: 13px;
    text-align: left;
    border-bottom: 1px solid var(--grey);
}

.bottom-data .orders table td{
    padding: 16px 0;
}

.bottom-data .orders table tr td:first-child{
    /* display: flex;
    align-items: center;
    grid-gap: 12px; */
    /* max-width: 20px;
    padding-left: 6px;
}

.bottom-data .orders table td img{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
}

.bottom-data .orders table tbody tr{
    cursor: pointer;
    transition: all 0.3s ease;
}

.bottom-data .orders table tbody tr:hover{
    background: var(--grey);
}

.bottom-data .orders table tr td .status{
    font-size: 10px;
    padding: 6px 16px;
    color: var(--light);
    border-radius: 20px;
    font-weight: 700;
}

.bottom-data .orders table tr td .status.completed{
    background: var(--success);
}

.bottom-data .orders table tr td .status.process{
    background: var(--primary);
}

.bottom-data .orders table tr td .status.pending{
    background: var(--warning);
}

.home-section{
    overflow-x: hidden;
}
.bottom-data{
    display: flex;
    flex-wrap: wrap;
    grid-gap: 24px;
    margin: 24px 30px;
    width: 100%;
    color: var(--dark);
}

.bottom-data>div{
    border-radius: 20px;
    background: var(--light);
    padding: 24px;
    overflow-x: auto;
}

.bottom-data .header{
    display: flex;
    align-items: center;
    grid-gap: 16px;
    margin-bottom: 24px;
}

.bottom-data .header h3{
    margin-right: auto;
    font-size: 24px;
    font-weight: 600;
}

.bottom-data .header .jx{
    cursor: pointer;
}

.bottom-data .orders{
    flex-grow: 1;
    flex-basis: 400px;
}

.bottom-data .reminders {
    margin-right: 50px;
    flex-grow: 1;
    flex-basis: 250px;
}

.bottom-data .reminders .task-list {
    width: 100%;
    max-height: 350px;
    overflow-x: auto;
}

.bottom-data .reminders .task-list li {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.bottom-data .reminders .task-list li:hover {
    background-color: #f5f5f5;
}

.bottom-data .reminders .task-list li .task-title {
    display: flex;
    align-items: center;
}

.bottom-data .reminders .task-list li .task-title span {
    margin-left: 10px;
    font-size: 14px;
}

.bottom-data .reminders .task-list li.completed {
    background: #d4edda;
}

.bottom-data .reminders .task-list li.completed .task-title span {
    text-decoration: line-through;
}

.bottom-data .reminders .task-list li.completed .task-title button{
    border: none;
    outline: none;
}
.bottom-data .reminders .header i.bx-note,
.bottom-data .reminders .header h3 {
    color: var(--dark);
}

.bottom-data .reminders .header i.bx-plus {
    color: var(--primary-hover);
    cursor: pointer;
    transition: color 0.3s ease;
}

.bottom-data .reminders .header i.bx-plus:hover {
    color: var(--primary);
}

.not-completed .task-title .new-task-input {
    border: none;
    outline: none;
    width: 70%;
    padding: 6px;
    border-radius: 5px;
    font-size: 14px;
}
.not-completed .task-title .new-task-input, .new-task-input-date{
    background-color: #fff;
}
.not-completed .task-title .new-task-input-date {
    border: none;
    outline: none;
    width: 30%;
    padding: 6px;
    border-radius: 5px;
    font-size: 14px;
}

.new-task-input::placeholder {
    color: var(--grey);
    font-size: 14px;
}

.bottom-data .reminders .task-list li.completed{
    border-left: 10px solid var(--success);
}

.bottom-data .reminders .task-list li.not-completed{
    border-left: 10px solid var(--danger);
}

.bx-check-circle:hover{
    color: var(--success);
}
.bx-x-circle:hover, .bx-minus-circle:hover{
    color: var(--bx);
}
.bx-minus-circle{
    color: var(--dark);
}

@media (max-width: 768px){
    .not-completed .task-title .new-task-input{
        width: 70%;
    }
}
@media (min-width: 1200px){
    .not-completed .task-title .new-task-input{
        width: 70%;
    }
}
#task-form{
    margin-bottom: 10px;
    display: none;
} */


/* .bottom-data .reminders{
    margin-right: 50px;
    flex-grow: 1;
    flex-basis: 300px;
} */

/* .bottom-data .reminders .task-list{
    width: 100%;
    overflow-x: auto;
} */

/* .bottom-data .reminders .task-list li{
    width: 100%;
    margin-bottom: 16px;
    background: var(--grey);
    padding: 10px 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
} */

/* .bottom-data .reminders .task-list li .task-title{
    display: flex;
    align-items: center;
} */

/* .bottom-data .reminders .task-list li .task-title p{
    margin-left: 6px;
} */

/* .bottom-data .reminders .task-list li .jx{
  cursor: pointer;  
} */

/* .bottom-data .reminders .task-list li.completed{
    border-left: 10px solid var(--success);
}

.bottom-data .reminders .task-list li.not-completed{
    border-left: 10px solid var(--danger);
} */

/* .bottom-data .reminders .task-list li:last-child{
   margin-bottom: 0;
} */

/* .new-task-input {
    border: none;
    outline: none;
    font-size: 14px;
    padding: 5px;
    width: 100%;
  } */
  
/* .bottom-data .chart{
    flex-grow: 1;
    flex-basis: 400px;
}

.bottom-data .chart .chartbar{
    width: 100%;
    max-height: 100%;
}
.bottom-data .chart span{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
    margin-top: 0;
}
.bottom-data .chart .chartbar{
    width: 100%;
    padding: 14px 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
} */

/* @media screen and (max-width: 768px) {
    .content{
        width: calc(100% - 60px);
        left: 200px;
    }

} */

/* @media screen and (max-width: 576px) {
    .insights {
        grid-template-columns: 1fr;
    } */

    /* .bottom-data .header{
        min-width: 340px;
    }

    .bottom-data .orders table{
        min-width: 340px;
    }

    .bottom-data .chart .chartbar{
        min-width: 340px;
    } */

/* } */