/* Custom CSS for DataTables */

/* .table-container {
max-height: 578px;
overflow-y: auto;
overflow-x: auto;
position: relative;
} */

.dataTables_wrapper {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.dataTables_length select,
.dataTables_filter input {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 8px;
  background-color: #fff;
  transition: border-color 0.3s ease;
}

.dataTables_length select:focus,
.dataTables_filter input:focus {
  outline: none;
  border-color: #1976D2;
}

.dataTables_paginate .paginate_button {
  background-color: #1976D2;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 16px;
  margin: 0 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dataTables_paginate .paginate_button.current {
  background-color: #1565C0;
}

.dataTables_info {
  color: #666;
  margin-top: 10px;
}

#myTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  font-size: 13px;
}

#myTable th, #myTable td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}
#myTable th:nth-child(1), #myTable th:nth-child(2){
    align-items: center;
}
#myTable td:nth-child(1), #myTable td:nth-child(2){
    text-align: center;
    padding: 2px;
}
#myTable td img {
    width: 80px;
    height: 80px;
    border-radius: 10%;
    object-fit: cover;
  }
  
#myTable thead{
  height: 20px;
}
#myTable th {
  background-color: var(--light-hed);
  font-weight: 600;
  /* color: #f5f5f5; */
}

#myTable tr:nth-child(even) {
  background-color: #f9f9f9;
}

.dataTables_filter{
  margin-left: 10px;
  margin-bottom: 20px;
}
.dataTables_length {
  margin-right: 10px;
}